@import './vars';

.ant-table-thead > tr > th {
  background-color: var(--table-head-bg-color);
}

.ant-table-row-expand-icon-cell {
  background-color: var(--table-head-bg-color);
}

.expandable-row-content {
  background-color: var(--expandable-row-content-bg-color);
  padding: 1rem;
}

.main-col {
  font-weight: var(--main-table-column-font-weight);
  background-color: var(--main-table-column-bg-color);
}

.main-sub-col {
  font-weight: var(--main-table-column-font-weight);
  background-color: var(--main-subtable-column-bg-color);
}
