@import './vars';
@import './text';

// Стили внешнего блока
@mixin transfer-list-block() {
  width: 50%;
  min-width: 30rem;
  max-width: 50rem;
  height: 12rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  margin: 1rem;
}

// Стили левого / правого подблока
@mixin transfer-list-sub-block() {
  height: 100%;
  width: 45%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// Стили центрального подблока (с кнопками действий)
@mixin transfer-list-transfer-block {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: var(--border);
}

// Стили блока со списком
@mixin transfer-list-list-block {
  overflow: auto;
}

// Стили записи списка
@mixin transfer-list-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

// Стили кнопки удаления записи из связанного списка и возврата в исходный список
@mixin transfer-list-del-btn {
  width: 3rem;
}

// Стили заголовков
@mixin transfer-list-title {
  @include small-title();
}
