:root {
  --text-color: rgba(0, 0, 0, 0.85);
  --text-weight: 500;
  --title-color: rgba(0, 0, 0, 0.85);
  --title-weight: 700;

  --unsaved-changes-btn-color: #f5222d;

  --border: 1px solid #f0f0f0;

  --expandable-row-content-bg-color: #fff1b8;
}
