:root {
  --table-head-bg-color: #d9d9d9;
  --main-table-column-bg-color: #d9f7be;
  --main-subtable-column-bg-color: #ffffb8;
  --main-table-column-font-weight: 600;

  --unsaved-changes-btn-color: #f5222d;

  --expandable-row-content-bg-color: #feffe6;

  --border-color: rgb(217, 217, 217);

  --order-pattern-cursor-color: #1890ff;
}
