.mainBlock {
  display: flex;
  flex-direction: row;
}

.newAppBlock {
  flex: 1 200px;

  min-height: 100vh;

  padding: 2rem 2rem;
}

.appsTableBlock {
  flex: 4 400px;

  min-height: 100vh;

  padding: 0 2rem;
}

.credsBlock {
  display: flex;
  flex-direction: row;
}

.newCredBlock {
  flex: 1 200px;

  padding: 0 0 0 0.5rem;
}

.credsTableBlock {
  flex: 4 400px;

  padding: 0 0 0 1rem;
}

.d {
  padding-left: 0;
}

.secondBtn {
  margin-left: 8px;
}

.cardTitle {
  padding-bottom: 1rem;
}

.errMess {
  color: red;
}

.appsTbl td {
  overflow: hidden;
}

.credsTbl td {
  overflow: hidden;
}

.expandCell {
  width: 5%;
  min-width: 80px;
}

.shortTitleCell {
  width: 30%;
  min-width: 100px;
}

.titleCell {
  width: 55%;
  min-width: 200px;
}

.englAbbreviationCell {
  width: 40%;
  min-width: 100px;
}

.descriptionCell {
  width: 50%;
  min-width: 100px;
}

.actionsCell {
  width: 10%;
  min-width: 160px;
}
