.mainBlock {
  display: flex;
  flex-direction: row;
}

.newRoleBlock {
  flex: 1 200px;

  min-height: 100vh;

  padding: 2rem 2rem;
}

.rolesTableBlock {
  flex: 4 400px;

  min-height: 100vh;

  padding: 0 2rem;
}

.credsBlock {
  display: flex;
  flex-direction: row;
}

.newCredBlock {
  flex: 1 200px;

  padding: 0 0;
}

.credsTableBlock {
  flex: 4 400px;

  padding: 0 0 0 1rem;
}

.d {
  margin: 2rem 2rem;
  padding: 2rem 2rem;
  overflow: scroll;
  height: auto;
}

.secondBtn {
  margin-left: 8px;
}

.cardTitle {
  padding-bottom: 1rem;
}

.rolesTbl {
}

.errMess {
  color: red;
}

.expandCell {
  width: 5%;
  min-width: 80px;
}

.englAbbreviationCell {
  width: 20%;
  min-width: 100px;
}

.descriptionCell {
  width: 65%;
  min-width: 200px;
}

.actionsCell {
  width: 10%;
  min-width: 160px;
}

.credsMultSelect {
  width: 100%;
}

.appTitleLbl {
  margin: 1rem 0;
}

.multSelectLabel {
  margin: 1rem 0;
}
.multSelect {
  width: 100%;
}
